* {
  box-sizing: border-box;
}
body {
  --connection-margin: 50%;
  background-color: #bbb;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 1rem 0 1rem;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.25s ease-in-out;
  transform: translate(0, 0);
}
.header.is-collapsed {
  transform: translate(0, -100%);
}
.form-group {
  margin-bottom: 1rem;
}
.form-group-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.form-group__left {
  margin-right: auto;
}
.form-group__right {
  margin-left: auto;
}
.form-group__center {
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  background-color: transparent;
  padding: 0.5rem 1rem;
  line-height: 1;
  white-space: nowrap;
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 3px;
  height: 40px;
}
.btn-default {
  border-color: #bbb;
  background-color: #ccc;
  color: #000;
}
.btn-primary {
  background-color: rgb(96, 96, 255);
  border-color: rgb(64, 64, 255);
  color: #fff;
}
.header-toggle-wrapper {
  position: relative;
}
.btn-header-toggle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 5rem;
  margin-left: -2.5rem;
  background-color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
.form-input {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: 1px solid #bbb;
  font-size: 1rem;
  line-height: 1;
  height: 40px;
}
.form-label {
  color: #333;
  display: block;
  margin-bottom: 0.5rem;
}
.image-uri-input {
  width: 100%;
}
.image-search-preview {
  position: relative;
  width: 100%;
  overflow: auto;
  white-space: wrap;
  max-height: 50vh;
  margin: 1rem 0;
}
.image-search-preview:after {
  position: absolute;
  display: none;
  content: 'Loading images ...';
  top: 0;
  left: 0;
}
.image-search-preview.is-loading {
  height: 2rem;
}
.image-search-preview.is-loading:after {
  display: block;
}
.image-search-preview__image {
  display: inline-block;
  margin: 0 0.5rem 0.5rem 0;
}
.image-search-preview__image img {
  height: 120px;
  width: auto;
}
.puzzle-wrapper {
  position: fixed;
  top: 40px;
  left: 20%;
  right: 20%;
  bottom: 40px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.puzzle {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-color: #ddd;
}
.puzzle-ghost {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  pointer-events: none;
  opacity: 0.5;
}
.puzzle-ghost.is-visible {
  display: block;
}
.puzzle-tile {
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 1;
  overflow: visible;
}
.puzzle-tile__image,
.puzzle-tile__shadow {
  position: absolute;
  right: calc(var(--connection-margin) * -1);
  bottom: calc(var(--connection-margin) * -1);
  left: calc(var(--connection-margin) * -1);
  top: calc(var(--connection-margin) * -1);
  pointer-events: none;
  mask-mode: alpha;
  mask-type: border-box;
  mask-origin: border-box;
  mask-position: center;
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  -webkit-mask-mode: alpha;
  -webkit-mask-type: border-box;
  -webkit-mask-origin: border-box;
  -webkit-mask-position: center;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
}
.puzzle-tile__image {
  filter: brightness(100%);
  transition: filter 0.25s linear;
}
.puzzle-tile__shadow {
  background-color: #000;
  opacity: 0.25;
  transition: all 0.15s linear;
  top: calc(var(--connection-margin) * -1 + 2px);
  left: calc(var(--connection-margin) * -1 + 2px);
}
.puzzle-tile.is-dragging .puzzle-tile__shadow {
  top: calc(var(--connection-margin) * -1 + 10px);
  left: calc(var(--connection-margin) * -1 + 10px);
  opacity: 0.15;
}
.puzzle-tile.is-connecting .puzzle-tile__image {
  filter: brightness(200%);
}
.puzzle-tile__image {
  overflow: hidden;
}
.puzzle-tile__image img {
  position: absolute;
  margin: 0;
  padding: 0;
  display: block;
}
.puzzle.is-solving .puzzle-tile {
  transition:
    left 0.5s ease-in-out,
    top 0.5s ease-in-out,
    box-shadow 0.5s linear
  ;
}
.puzzle.is-solved {
  box-shadow: 0 0 40px rgba(255, 255, 255, 1);
}
.puzzle.is-solved .puzzle-tile__shadow {
  opacity: 0;
}
